*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.p-t-b-8{
    padding:8px 0;
}

.p-t-b-16{
    padding:16px 0;
}

.p-t-b-32{
    padding:32px 0;
}

.p-l-r-8{
    padding: 0 8px;
}

.p-l-r-16{
    padding: 0 16px;
}

.p-l-r-32{
    padding: 0 32px;
}

.mg-t-b-16{
    margin: 16px 0;
}

.mg-t-b-32{
    margin: 32px 0;
}

.mg-t-b-64{
    margin: 32px 0;
}

:root{
    --orange:#fb5631 ; 
    --white:#ffffff ; 
    --gray:#ccc; 
    --black:#000; 

}

.home-page{
    background-color:#f5f5f5;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: var(--orange);
    padding-top: 6px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .login a,
header .shop-click a{
    font-size: 13px;
    text-decoration: none;
    color: var(--white);
}

header nav a:hover{
    color: var(--gray);
}

header nav span{
    color: var(--white);
    padding: 0 3px;
}

header .login a{
    margin-left: 4px;
}

header .login i{
    margin-right: 4px;
}

header .logo_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo_search .header-logo img{
    width: 135px ;
}

.logo_search .header-search input{
    width: 750px;
    height: 34px;
    border: none;
    border-radius: 2px;
    padding: 0 16px;
}

.logo_search .header-search input::placeholder{
    font-size: 14px;
}

.header-search .search-btn{
    position: relative;
}

.header-search .search-btn button{
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    padding:0 22px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2px;
    z-index: 10;
    
}

.header-search .search-btn button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.header-cart{
    margin-right: 64px;
    position: relative;
}

.header-cart i{
    font-size: 26px;
    color: #fff;
}

.header-cart .number-cart{
    position: absolute;
    right: -10px;
    top: -14px;
    text-align: center;
    line-height: 19px;
    width: 19px;
    height: 19px;
    background-color: var(--white);
    border-radius: 50%;
    font-size: 11px;
    border: 1px solid var(--orange);
}

.banner{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 8px;
    
}

.banner img{
    width: 100%;
    border-radius: 2px;
}

.folder-product{
    background-color: var(--white);
}   

.folder-product-list{
    display: flex;
    flex-wrap: wrap;

}

.folder-product-list .folder-list-item{
    text-align: center;
    padding: 16px 5px;
    text-decoration: none;
    border: 1px solid var(--gray);
}

.folder-product .folder-list-item img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--gray);
}

.folder-list-item p{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.product-hot>h3,
.folder-product h3{
    padding:16px 0 16px 10px;
    font-weight: 500;
}

footer,
#content>h3,
.product-hot{
    background-color: var(--white);
}


#content .list-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 16px;
}


.product-item{
    border: 0.5px solid var(--gray);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    position: relative;
}

.product-item:hover{
    border: 1px solid  var(--orange);
}

.product-item img{
    width: 100%
}

.info-product{
    padding: 4px 12px;
}

.product-item h3{
    font-size: 15px;
    color: var(--orange);
    padding: 5px 0;
}

.product-item .a{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info-product .product-name{
    font-size: 14px;
    color: var(--black);
}

.info-product .price-old{   
    font-size: 14px;
    color: var(--gray);
    text-decoration: line-through;
}


.info-product .number-sale{
    font-size: 10px;
    color: var(--black);
}

.product-item .deal-sale{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
}

#content>h3{
    text-align: center;
    padding: 10px 0;
    border-bottom:3px solid var(--orange) ;
    margin-bottom: 16px ;
    color: var(--orange);
    font-weight: 500;
}

footer{
    padding: 12px;
    margin-top: 32px ;
}

footer .footer-info{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footer-info-item h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.footer-info-item ul{
    list-style: none;
}

.footer-info-item a{
    text-decoration: none;
    font-size: 15px;
    color: var(--gray);
    display: block;
    padding: 5px 0;
}

.footer-info-item a:hover{
    text-decoration: underline;
    color: var(--black);
}

.footer-info-item .footer-pay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.footer-info-item .footer-pay img{
    border: 1px solid var(--gray);
    padding: 5px;
}

.footer-info-item .certification{
    width: 120px;
}


footer .footer-location{
    margin-top: 16px;
    border-top: 1px solid var(--gray);
    padding:16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}